extends layout

block content
  h1 OCC Notify
  hr
  h2 Sign Up For SMS Notifications
  form(method='post' action='/add')
    input(type='text' name='first' placeholder='First Name')
    input(type='text' name='last' placeholder='Last Name')
    input(type='text' name='phone' placeholder='Phone Number')
    button(type="submit") Sign Up
    