extends layout

block content
  h1 OCC Notify
  hr
  h2 Sign Up For SMS Notifications
  form(method='post' action='/add')
    input(type='text' name='first' placeholder='First Name' required)
    input(type='text' name='last' placeholder='Last Name' required)
    input(type='number' name='phone' placeholder='Phone Number' required)
    button(type="submit") Sign Up
    